.responsiveImage {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
  position: relative;

  &.fadeIn {
    opacity: 0;
    transition: opacity 1s ease-in;
  }
}
